.questionContainer{
  text-align: center;
  margin: 1em;
  position: relative;
}
.questionContainer h1 {
  margin: 1em;
}

.questionOption{
  margin: 1.2em;
  display: flex;

  align-items: center;
  justify-content: center;
}
.questionOption label{
  margin: .2em;
}
.questionContainer input[type=radio] {
  
  border: 0px;
  width: 1.8em;
  height: 1.8em;
  background-color:red;
}

.questionContainer fieldset {
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.2em;
}


.questionContainer button {
  padding: 5px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border: none;
  margin: 0 auto;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.questionContainer button:hover {
  opacity: 60%;
}
.questionContainer button:active {
  opacity: 90%;
}

.nextButton {
  background-color: rgb(238, 118, 118);
}

.submitButton{
  display: block;
  margin: 1em auto !important;
  background-color: lightblue;
}